<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>APP</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">CodoLadder</a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/education">Education</a>
                <a href="/skills">skills</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <section class="about-home">
            <div class="info">
                <h3><span>Name          : </span> Nishan H Kamath</h3>
                <h3><span>DOB           : </span> 11 December 2004</h3>
                <h3><span>Qualification : </span> Diploma</h3>
                <h3><span>Language      : </span> English </h3>
                <a href="#"><button>Download Resume <i class="fas fa-download"></i></button></a>
                </div>
            <div class="about-content">
                    <div class="box">
                        <span>1+</span>
                        <h3> years of experience</h3>
                        <i class="fa-solid fa-brain"></i>

                    </div>

                    <div class="box">
                        <span>5+</span>
                        <h3> Projects completed</h3>
                        <i class="fa-solid fa-list"></i>
                    </div>

                    <div class="box">
                        <span>3+</span>
                        <h3> awards won</h3>
                        <i class="fa-solid fa-award"></i>
                    </div>
            </div>
        </section>
    </body>
</html>