<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width">
        <title>APP</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <header class="header">
            <a href="#" class="logo">CodoLadder</a>
            <nav class="navbar">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/education">Education</a>
                <a href="/skills">Skills</a>
                <a href="/contact">Contact</a>
            </nav>
        </header>
        <section class="home">
            <div class="education">
                <div class="check">
                    <div class="box">
                        <h2>Persuing B.tech in Information Science from NMAM Institute of Technology Nitte</h2>
                    </div>
                    <div class="i-box">
                        <i class="fa-solid fa-graduation-cap"></i>
                    </div>
                </div>
                <div class="check">
                    <div class="box">
                        <h2>Diploma holder in Computer Science specialized in AIML from NRAM Polytechnic Nitte</h2>
                    </div>
                    <div class="i-box">
                        <i class="fa-solid fa-computer"></i>
                    </div>
                </div>
                <div class="check">
                    <div class="box">
                        <h2>Completed SSLC from Govt.P.U.College [Highschool section] Bajagoli</h2>
                    </div>
                    <div class="i-box">
                        <i class="fa-solid fa-book-open-reader"></i>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>